*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display:inline-block;
}

ul{
    list-style: none;
}

body{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.container{
    max-width: 1442px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu__list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu__list-link{
    padding: 24px 10px 20px;
    color: #909090;
    font-weight: bold;
    line-height: 19px;
    font-size: 14px;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}
.header__top-inner{
    border: 2px solid #8C001A;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #FFFFFF;
}

.header__title{
    font-family: Georgia;
    font-size: 162px;
    line-height: 184px;
    padding: 48px 813px 219px 100px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    padding-top: 48px;
    padding-left: 219px;   
}

.header__top{
    background-image: url('../images/brgndy.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}

.header__text{
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}

.header__text::after.header__text::before{
    content: "";
    border: 2px solid #8C001A;
    width: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    
}
.reason{
    display: flex;
    align-items: center;
    top: 883px;
    position: absolute;
    width: 970px;
    height: 200px;
    left: 235px;
}
.reason__text{
    display: flex;
    width: 536px;
    height: 172px;
    left: 434px;
    top: -1px;
}

.reason__title{
    display: flex;
    align-items: center;
    color: #4E5665;
    width: 304px;
    height: 76px;
    left: 0px;
    top: 9px;
    margin: auto;
    font-size: 32px;
line-height: 38px;
    color: #505050;
}
.reason__link{
    text-align: bottom;
    font-weight: 700;
    margin-bottom: 36px;
    color: #8C001A;
}